:root{
 --background_white: #f9f9f9;
 --our_black: #181A2A;
 --logo_green: #81B428;
 --light_blue: #6CAABB;
 --medium_blue: #077C9C;
 --dark_blue: #054657; 
 --mobile_padding: 5%;
}


*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: var(--background_white);
    font-family: abel;
}

h1{
    font-family: gabarito, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--our_black);
    position: absolute;
    top: 2%;
    left: 50%;
    text-align: center;
    padding: var(--mobile_padding);
    margin: 0px;
    transform: translate(-50%);
}

h2{
    font-family: gabarito, sans-serif;
    font-weight: 600;
    color: var(--medium_blue);
    font-size: 1.5rem;
}

h3{
    font-family: gabarito, sans-serif;
    font-weight: 500;
    color: var(--our_black);
    font-size: 1.3rem;
}

p{
    font-family: abel, sans-serif;
    letter-spacing: 1px;   
    color: var(--our_black);
    font-size: 1rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
}

header img{
width: 50%;
padding-right: 10px;

}

nav img{
height: 100%;
}

#calendar_button{
height: 110%;
}

button{
    border: none;
    background-color: var(--medium_blue);
    height: 40px;
    color: var(--background_white);
    font-family: abel;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 60px;
    width: auto;
    height: auto;
    font-size: 1rem;
}

button:hover{
    background-color: var(--light_blue);
    color: var(--our_black);
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav a{
    height: 100%;
    text-decoration: none;
    color: var(--our_black);
    text-decoration: none;
    font-family: gabarito;
    letter-spacing: 1px;
    width: 100%;
}

nav a:hover{
    color:var( --medium_blue);
}


#hero{
    position: relative;
    height: 100%;
}

#hero_img{
    width: 100%;
    height: auto;
    opacity: 40%;
}

#quiz_button{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 0px var(--mobile_padding);
}

#quiz{
    height: auto;
    padding: var(--mobile_padding);
}

#answers button{
background-color: var(--background_white);
border: 2px solid var(--medium_blue);
color: var(--our_black);
font-weight: 500;
height: auto;
}

#answers{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--mobile_padding);
}

#answers button:hover{
    border: 4px solid var(--light_blue);
}

#question{
    padding: var(--mobile_padding) 0px;
    font-family: gabarito, sans-serif;
    font-weight: 600;
    color: var(--medium_blue);
    font-size: 24px;
}

#introduction{
    padding: var(--mobile_padding);
}


#quotes{
    padding: var(--mobile_padding);
    background-color: var(--dark_blue);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
}

.quote-container {
    color: var(--background_white);
    font-family: gabarito, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    max-width: 400px; /*Er til teksten og ikke boksen*/
    min-height: 100px;
    flex: 1;
    transition: opacity 0.7s ease-in-out;
    margin: 0px 60px;
}


#gallery{
    padding: var(--mobile_padding);
}



/*Skal du være med? slideshow med billeder */
 #slideshow img {
    max-width: 30%;
    border-radius: 20px;
}

#slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--mobile_padding);
}


#slideshow {
    display: flex;
    gap: var(--mobile_padding);
} 


#clickRight {
    background-color: var(--background_white);
    height: 60px;
    padding: 25px;
    cursor: pointer;
}

#clickLeft {
    background-color: var(--background_white);
    height: 60px;
    padding: 25px;
    cursor: pointer;
} 


/*event kalender*/
#events{
    padding: var(--mobile_padding);
}

#calendar_img{
    display: flex;
    justify-content: center;
}

footer{
    min-height: 50px;
    padding: 0px var(--mobile_padding);
    background-color: var(--dark_blue);
    color: var(--background_white);
}

footer p{
    margin-bottom: 0px;
    color: var(--background_white);
}

footer a{
    color: var(--background_white);
}
/* tilmeldingsformular */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: var(--mobile_padding);
    top: -10%;
}

.modal-content {
    background-color: var(--background_white);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: left;
    border-radius: 20px;
}

.close {
    color: var(--medium_blue);
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--light_blue);
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    outline-color: var(--dark_blue);
    border-radius: 10px;
}

.submit-btn {
    background-color: var(--medium_blue);
    color: var(--background_white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.submit-btn:hover {
    background-color: var(--light_blue);
    color: var(--our_black);
}

.type_text{
    font-family: gabarito, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--medium_blue);
    text-align: center;
    padding: var(--mobile_padding);
    margin: auto;
}

#txt_slider{
    height: 100px;
}

hr{
    border: 1px solid var(--dark_blue);
}

.modal-content {
    background-color: var(--background_white);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: left;
    border-radius: 20px;
}


.quiz_result{
    font-size: 24px;
}

#about_cover{
position: relative;
height: 60vh;
}

#about_img{
    height: 60vh;
    width: 100%;
    opacity: 40%;
    object-fit: cover;
}

#about_title{
    position: absolute;
    top: 20%;
    text-align: center;
}

#about_text{
    padding: var(--mobile_padding);
}

@media screen and (min-width: 600px){    
    #clickRight{
        height: 100%;
    }

    #clickLeft{
        height: 100%;
    }

    h1{
        font-size: 4rem;
    }

    #quiz_button{
        font-size: 1.5rem;
        height: 60px;
    }

    #answers button{
        height: 40px;
    }
    
    .hide-on-computer{
        display: none;
    }
    
    #events img{
        padding: var(--mobile_padding);
        width: 90%;
    }

    #hero_img{
        width: 100%;
        height: 15%;
        object-fit: cover;
    }

    #quiz{
        padding-top: 0px;
    }

    header{
        align-content: space-between;
        justify-content: flex-end;
        display: block;
        position: relative;
    }

    #logo{
        width: 12%;
    }

    nav{
        align-items: center;
        width: 20%;
        position: absolute;
        right: var(--mobile_padding);
        top: 10%;
    }

    #txt_slider{
        height: 125px;
    }

    .type_text{
        font-size: 4rem;
    }

    footer{
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: var(--mobile_padding);
    }

}


@media (max-width: 600px) {

    .hide-on-mobile{
        display: none;
    }
    #slideshow img{
        max-width: 100%;
        margin: auto;
    }

    #quotes {
        flex-direction: column;
        align-items: center;
        padding: var(--mobile_padding);
        height: 4.5%; /* Mobil boks størrelse */
    }

    .quote-container {
        max-width: 90%; /* Er til teksten og ikke boksen */
        font-size: 18px;
    }

    #quote-2, #quote-3 {
        display: none; /* Gemmer ekstra quotes */
    }
}

